*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(109, 65, 134);
}

.contenedorGeneral {
  width: fit-content;
  height: auto;
  border: 1px solid red;
  margin: 50px auto;
  background: cyan;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: azure;

}

.spanResultado {
  background: yellow;
  width: 90%;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}