* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(109, 65, 134);
}

.contenedorGeneral {
  width: 300px;
  height: auto;
  border: 1px solid red;
  margin: 50px auto;
  background: cyan;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.spanResultado {
  background: yellow;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}

.titulo {
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}

.txtGrados {
  font-size: 1.2em;
  padding: 5px;
  width: 60%;
  text-align: center;
}

.btnConvertir {
  width: 40%;
}

.contenedorDatos {
  display: flex;
}
