* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(0, 15, 97);
}

.contenedorGeneral {
  width: 300px;
  height: auto;
  border: 7px solid rgb(0, 0, 0);
  margin: 50px auto;
  background: rgb(0, 139, 189);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.spanResultados {
  background: rgb(255, 255, 255);
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  border-radius: 8px;
  border: 4px solid rgb(0, 0, 0);
}

.titulo {
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  color: white;
}

.txtGrados {
  font-size: 1.2em;
  padding: 5px;
  width: 60%;
  text-align: center;
  border-radius: 7px;
  border: 4px solid black;
  border-radius: 8px;
}

.btnConvertir {
  width: 40%;
  cursor: pointer;
  border-radius: 8px;
  border-radius: 8px;
  border: 4px solid black;
}

.contenedorDatos {
  display: flex;
}

